.{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	background: #9d695a;
}

.grid{
	display: grid;
	grid-template-rows: 100px 600px 400px 400px 200px;
	gap: 10px;
	grid-template-areas: 
	"nav"
	"carrucel"
	"know"
	"proyect"
	"contact";
}



.nav{
	grid-area: nav;
	background: #a1cdf1;
	display: inline-block;
}
.nav > ul > li{
	display: inline-block;
	margin-left: 35px;
}


.carrucel{
	grid-area: carrucel;
	background: #8eedf7;
}
.carrucel > img{
	margin-top: 100px;
	margin-left: 100px;
	width: 600px;
	height: 350px;
}

.know{
	grid-area: know;
	background: #a1cdf1;
}
.know > img{
	margin: 25px;
	width: 150px;
	height: 150px;
}
.proyect{
	grid-area: proyect;
	background: #78e0dc;
}
.img_pro > img{
	margin: 25px;r
	width: 200px;
	height: 200px;
}
.contact{
	grid-area: contact;
	background: #a1cdf1;
}
.contact > img {
	margin-top: 5px;
	margin-left: 50px;
	width: 100px;
	height: 100px;
}